<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item nav-category">Blog İşlemleri</li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="Blog" asp-action="BlogListByWriter">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Bloglarım</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/Blog/BlogAdd">
                <i class="menu-icon mdi mdi-file-plus"></i>
                <span class="menu-title">Blog Ekle</span>
            </a>
        </li>

      
        <li class="nav-item">
            <a class="nav-link" asp-controller="Blog" asp-action="Index">
                <i class="menu-icon mdi mdi-table"></i>
                <span class="menu-title">Siteye Dön</span>
              
            </a>
            
        </li>
        <li class="nav-item nav-category">Profil</li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Writer" asp-action="WriterEditProfile" aria-controls="auth">
                <i class="menu-icon mdi mdi-account-circle-outline"></i>
                <span class="menu-title">Profilime Dön</span>
            </a>
   
        </li>
        <li class="nav-item nav-category">Genel</li>
        <li class="nav-item">
            <a class="nav-link" href="http://bootstrapdash.com/demo/star-admin2-free/docs/documentation.html">
                <i class="menu-icon mdi mdi-settings-box"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Login" asp-action="Logout" >
                <i class="menu-icon mdi mdi-logout-variant"></i>
                <span class="menu-title">çıkış Yap</span>
            </a>
        </li>

    </ul>
</nav>