<div class="footer-top-w3layouts-agile">
    <div class="container">
        <p>
            at least 150 missing and there dead in landslide after monsoon
            rains in central Sri Lanka, officials say <a href="#">http//example.com</a>
        </p>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="footer-grids wthree-agile">
        
            <div class="col-md-6 footer-grid-left">
                <h3>iletişim</h3>
 
                <a asp-controller="Contact" asp-action="Index"><button type="button" class="btn btn-danger btn-lg">İletişim Kur</button></a>
             
              
            </div>
            <div class="col-md-6 footer-grid-left">
                <h3>hakkımızda</h3>
                <p>
                    İnşaat işçileri tüm ev için ayrıntılı bir plan yapmadan önce duvar örmeye başlıyor mu? Elbette hayır. Beton mikserinin kalıplara beton dökmesi gibi sizde içeriğinizi sayfaya boşaltmaya başlamadan önce "Hakkımızda" sayfanızın yapısı ve tasarımı ile ilgili genel bir fikre sahip olmalısınız. Hakkımızda yazısı sitenizde başka nereye koyacağınızı bilemediğiniz içeriklerden oluşan bir bulamaç olmamalıdır.


                    </span>
                    <i><a class="#1ABC9C" asp-controller="About" asp-action="Index">Hakkımızda</></a></i>
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-left-whtree-agileinfo">
                <p>@DateTime.Now.Year Tüm hakları Saklıdır | Template by <a href="http://w3layouts.com/">W3layouts.</a></p>
            </div>
            <div class="footer-bottom-right-whtree-agileinfo">
                <ul>
                    <li><a href="#" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a></li>
                    <li><a href="#" class="icon-button google"><i class="icon-google"></i><span></span></a></li>
                    <li><a href="#" class="icon-button v"><i class="icon-v"></i><span></span></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>