<!--<div class="banner1">
    <div class="banner-info">
        <div class="container">
            <nav class="navbar navbar-default">-->
<!-- Brand and toggle get grouped for better mobile display -->
<!--<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="logo">
        <a class="navbar-brand" href="index.html"><span>T</span> Trendy Blog</a>
    </div>
</div>-->
<!-- Collect the nav links, forms, and other content for toggling -->
<!--<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav cl-effect-18" id="cl-effect-18">
        <li class="act"><a href="index.html" class="effect1 active">Anasayfa</a></li>
        <li><a href="events.html">Reviews</a></li>
        <li><a href="breaking.html">Haberler</a></li>
        <li><a href="entertainment.html">Takılmaca</a></li>
        <li><a href="contact.html">Bloglar</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Kategoriler <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="short-codes.html">Bilim</a></li>
                <li><a href="icons.html">Sinema</a></li>

            </ul>
        </li>
        <li><a href="contact.html">İletişim</a></li>
        <li><a asp-action="Index" asp-controller="Register">Giriş/Kaydol</a></li>
    </ul>
</div>-->
<!-- /.navbar-collapse -->
<!--</nav>-->
<!--banner-Slider-->
<!--</div>
    </div>
</div>-->

<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css'>
    <link rel="stylesheet" href="~/navbar/style.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="#">BiLiyOG</a>
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Blog" asp-action="Index" ><i class="fas fa-home"></i>Anasayfa</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link"  asp-controller="Blog" asp-action="Index" ><i class="far fa-address-book"></i>Bloklar </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="About" asp-action="Index"><i class="far fa-a"></i>Hakkımda</a>
                </li>
                <li class="nav-item">    
                    <a class="nav-link" asp-action="Index" asp-controller="Register"><i class="far fa-calendar-alt"></i>Giriş Yap & Kayıt OL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Contact" asp-action="Index"><i class="far fa-chart-bar"></i>İletişim</a>
                </li>
                
            </ul>
        </div>
    </nav>
    <!-- partial -->
    <script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src="~/navbar/script.js"></script>

</body>
</html>
