<div class="news-grid-rght2">
    <h3>Haberdar olmak için Abone Olunuz</h3>
    <p>Günlük bültenimize kaydolarak en son haberleri ve güncellemeleri alın. E-postanızı satmayacağız veya size spam göndermeyeceğiz.!</p>
    <form  action="/NewsLetter/SubscribeMail/" method="post">
        <input type="email" name="Mail" value="enter your Email address" required="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'enter your Email address';}">
        <input type="submit" value="Subscribe">
    </form>
</div>
