@using EntityLayer.Concrete
@model List<Writer>
<div class="row flex-grow">
    <div class="col-md-12 col-lg-12 grid-margin stretch-card">
        @foreach (var item in Model)
        {

            <div class="card">
                
                <div class="card-body">
                
                    <div class="row m-3">
                        <div class="col-4"><img src="@item.WriterImage" alt=" " class="img-lg rounded-circle m-2" /></div>
                      

                    </div>
                    <div class="row m-3">
                        <div class="col-8"> <h4 class="card-title">@item.WriterName  -  @item.WriterMail</h4></div>

                    </div>
                    <div class="row">
                        <p class="card-description">
                            @item.WriterAbout
                        </p>

                    </div>




                </div>
            </div>
        }

    </div>

</div>
