@model IEnumerable<EntityLayer.Concrete.Comment>
<div class="response">
    <h4>Yorumlar</h4>
    <div class="media response-info">
        <div class="media-left response-text-left">
            <a href="#">
                <img class="media-object" src="~/tema2/images/icon1.png" alt="" />
            </a>
            <h5><a href="#">Admin</a></h5>
        </div>
        <div class="media-body response-text-right">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <ul>
                <li>October 25, 2016</li>
                <li><a href="single.html">Reply</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>