<div class="coment-form">
    <h4>Yorum Yap</h4>
    <form action="/Comment/PartialAddComment/" method="post">
        <input type="text" name="CommentUserName" value="Name " required="">
        <input type="text" name="CommentTitle" value="Email (will not be published)*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email (will not be published)*';}" required="">
        <textarea type="text" name="CommentContent" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Comment...';}" required="">Your Comment...</textarea>
        <input type="submit" value="Submit Comment">
    </form>
</div>